.cabecalho{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        .cabecalho .logo{
            margin-bottom: 30px;
        }

        .cabecalho .navegacao .menu .item {
            font-size: calc(0.6em + 1vw)

        }


    

    @media(max-width: 900px){
        .conteudo-principal .projetos{
            height: 500px;
        }

        .conteudo-principal .projetos .titulo{
            font-size: calc(1.2em + 1vw);

        }

        .conteudo-principal .projetos .seta{
            width: 16px;
        }
    }

     @media(max-width: 1200px){
        .produtos .produto{
            flex-direction: column;
            text-align: center;
            padding: 100px 0;

        }

        .conteudo-principal .quem-somos .conteudo  .informacoes{
            width: 100%;
        }
       
        .conteudo-principal .quem-somos .conteudo .imagem{
            display: none;
        }


     }

        @media(max-width:940px){
            .rodape{
                flex-direction: column; 
            }
            
            .rodape .logo,
            .rodape .redes-sociais{
                width:100%;
                justify-content: center;
                margin-bottom: 30px;

            }


        } 
